.hero {
  margin-top: 12vmin;
}

.bio-card {
  border: none;
}

.social-icons {
  border-top: 4px solid black;
  padding: 2vmin;
}

.social-icon {
  margin: 0;
  padding: 0;
  height: 10vmin;
  transition: transform 200ms ease-in-out;
}

.social-icon:hover {
  transform: scale(1.1);
}

.bio-text {
  text-align: left;
}

.emphasis {
  font-weight: bolder;
}

.tech-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tech-tag {
  background-color: #eee;
  box-shadow: 4px 5px 10px -9px rgba(0,0,0,0.75);
  border-radius: 3px;
  padding: 5px 8px;
  font-size: .8rem;
}

.portfolio-card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.portfolio-card:hover {
  transform: scale(1.1);
}

.portfolio-card img {
  transition: transform 0.3s ease-in-out;
}

.portfolio-card:hover img {
  filter: brightness(70%);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.portfolio-card:hover .overlay {
  opacity: 1;
}

/* md screens and up */
@media (min-width: 768px) {


  .social-icon {
    height: 8vmin;
  }

  .bio-img {
    width: 35vmin;
  }
}

/* sm screens */
@media (max-width: 768px) {

  .social-icons {
    border: none;
    position: absolute;
    right: 0;
    top: -7px;
  }

  .social-icon {
    height: 8vmin;
  }

  .bio-img {
    position: absolute;
    visibility: hidden;
  }
}

/* xs screens */
@media (max-width: 576px) {

}