* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg: #f6f9f7;
  --text: #132e30;
  --accent: #008080;
  --btn-text: #C7D1CC;
  --btn: #055151;
  --section1: #d5e5e7;
  --section2: #eaf5f3;
  --light: #ecf2f1;
}

body .featured-project,
body .portfolio,
body .resume,
body .about {
  padding: 8vmin 0 16vmin 0;
}

a {
  text-decoration: none;
  color: var(--accent);
}

.heading-font {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.display-4 {
  font-size: 2.2rem;
}

.accent {
  color: var(--accent);
  font-weight: 600;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

.navbar {
  z-index: 1;
  background-color: var(--section2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: var(--text);
  transition: color 200ms ease-in-out;
}

.navbar-nav .nav-link.active {
  color: var(--accent);
}

.navbar-nav .nav-link:hover {
  color: var(--accent);
}

/* hero section */

.hero {
  height: 100vh;
  margin-top: 16vmin;
}

.hero-btn {
  font-size: 1.5rem;
  padding: 10px 20px;
  border: none;
  background: linear-gradient(to bottom, var(--light), var(--section1));
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

.hero-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  border-bottom: 5px solid var(--btn-highlight);
}

.bio-img {
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.bio-card {
  border: none;
}

.social-icons {
  padding: 2vmin;
}

.social-icon {
  margin: 0;
  padding: 0;
  height: 12vmin;
  transition: transform 200ms ease-in-out;
}

.social-icon:hover {
  transform: scale(1.1);
}

.bio-text {
  text-align: left;
}

/* featured project section */

.featured-project,
.resume,
.contact {
  background-color: var(--section1);
}

.read-more-link {
  color: var(--accent);
  font-weight: 600;
  font-size: 1.2rem;
  transition: color 200ms ease-in-out, transform 200ms ease-in-out;
  text-decoration: underline;
}

.read-more-link:hover {
  color: var(--btn);
  transform: scale(1.03);
}

.portfolio-btn {
  font-weight: 600;
  font-size: 1rem;
}

.tech-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tech-tag {
  background-color: white;
  box-shadow: 4px 5px 10px -9px rgba(0,0,0,0.75);
  border-radius: 3px;
  padding: 5px 8px;
  font-size: .8rem;
}

/* portfolio section */

.portfolio,
.about {
  background-color: var(--section2);
}

.portfolio-card {
  position: relative;
  overflow: hidden;
  box-shadow: 4px 4px 11px -8px rgba(0,0,0,0.9);
  border: none;
  transition: transform 0.3s ease-in-out;
}

.portfolio-card:hover {
  transform: scale(1.05);
  cursor: pointer
}

.portfolio-card img {
  transition: transform 0.3s ease-in-out;
}

/* .portfolio-card:hover img, 
.portfolio-card:hover .card-body {
  filter: brightness(30%);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.see-more-btn {
  margin-bottom: 5vmin;
  font-size: 1.2rem;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  border-radius: 8px;
}

.see-more-btn:hover {
  background-color: transparent;
}

.portfolio-card:hover .overlay {
  opacity: 1;
} */

.card-body {
  background-color: var(--light);
}

.card-body > h6 {
  font-size: 1.2rem;
  margin-bottom: 2vmin;
}

/* resume section */

.download-btn {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 8px 18px;
}

.job-card {
  background-color: var(--light);
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.job-title {
  color: var(--btn);
  font-weight: bold;
}

.company-name {
  color: #495057;
}

.job-duration {
  color: #6c757d;
}

.job-description {
  margin-top: 10px;
}

.education {
  margin-top: 40px;
}

.education-title {
  color: var(--btn);
  font-weight: bold;
}

.education-card {
  background-color: var(--light);
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.education-institution {
  color: var(--btn);
  font-weight: bold;
}

.education-duration {
  color: #6c757d;
}

.education-degree {
  color: #495057;
}

/* about section */

.about-img {
  margin: 0 auto;
  width: 100%;
  height: 50vmin;
  object-fit: cover; 
  border-radius: 2rem;
  overflow: hidden; 
  max-width: 80%; 
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}  

.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.sub-heading {
  color: var(--btn);
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
}

/* contact section */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  height: 85vh;
}

.contact-links {
  margin-top: 20px;
}

.contact-links > a {
  color: var(--btn);
  font-size: 2.3vmin;
  transition: transform 200ms ease-in-out;
}

.contact-links > a:hover {
  font-size: 1.2rem;
  transform: scale(1.1);
}

/* contact form */
form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 60%;
}

label {
  margin-bottom: 8px;
}

input, textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #008080;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #006666;
}

/* md screens and up */
@media (max-width: 1000px) {


  .social-icon {
    height: 8vmin;
  }

  .bio-img {
    width: 35vmin;
  }

  .portfolio-btn {
    font-size: .8rem;
    padding: 1rem;
  }
}

/* sm screens */
@media (max-width: 768px) {

  .social-icons {
    border: none;
    position: absolute;
    right: 0;
    top: -7px;
    z-index: 2;
  }

  .social-icon {
    height: 8vmin;
  }

  .bio-img {
    position: absolute;
    visibility: hidden;
  }


}

/* xs screens */
@media (max-width: 576px) {

}


/* knownative */
.display-3,
.display-4 {
  color: var(--accent);
}

.project-introduction img {
  border-radius: 10px;
  max-width: 100%;
}

.lead {
  font-size: 1.25rem;
}

.inspiration-backstory img {
  border-radius: 10px;
  max-width: 100%;
}

.development-steps .step {
  margin-bottom: 2rem;
}

.future-developments ul {
  list-style-type: disc;
  margin-left: 2rem;
}

.video-demo {
  margin-top: 2rem;
}

.btn {
  background-color: var(--btn);
  color: var(--btn-text);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 200ms ease-in-out;
}

.btn:hover {
  background-color: var(--accent);
}


  