* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg: #e9f1ed;
  --text: #132e30;
  --accent: #008080;
  --btn-text: #C7D1CC;
  --btn: #055151;
  --section1: #d1e3e6;
  --section2: #dfebe8;
  --light: #ecf2f1;
}

body .featured-project,
body .portfolio,
body .resume,
body .about {
  padding: 8vmin 0 16vmin 0;
}

a {
  text-decoration: none;
  color: var(--accent);
}

.heading-font {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.accent {
  color: var(--accent);
  font-weight: 600;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

.navbar {
  background-color: var(--section2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: var(--text);
  transition: color 200ms ease-in-out;
}

.navbar-nav .nav-link.active {
  color: var(--accent);
}

.navbar-nav .nav-link:hover {
  color: var(--accent);
}

/* hero section */

.hero {
  height: 100vh;
  margin-top: 16vmin;
}

.hero-btn {
  font-size: 1.5rem;
  border-bottom: 2px solid var(--btn);
  transition: transform 200ms ease-in-out;
}

.hero-btn:hover {
  transform: scaleX(1.1);
}

.bio-card {
  border: none;
}

.social-icons {
  border-top: 4px solid black;
  padding: 2vmin;
}

.social-icon {
  margin: 0;
  padding: 0;
  height: 10vmin;
  transition: transform 200ms ease-in-out;
}

.social-icon:hover {
  transform: scale(1.1);
}

.bio-text {
  text-align: left;
}

/* featured project section */

.featured-project,
.resume,
.contact {
  background-color: var(--section1);
}

.kn-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

.portfolio-link {
  align-self: center;
  color: var(--btn);
  font-weight: 600;
  padding-bottom: .1vmin;
  font-size: 1.1rem;
  border-bottom: 2px solid var(--btn);
  transition: transform 200ms ease-in-out;
}

.portfolio-link:hover {
  transform: scaleX(1.1);
  border-bottom: 2px solid var(--accent);
}

.tech-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tech-tag {
  background-color: #eee;
  box-shadow: 4px 5px 10px -9px rgba(0,0,0,0.75);
  border-radius: 3px;
  padding: 5px 8px;
  font-size: .8rem;
}

/* portfolio section */

.portfolio,
.about {
  background-color: var(--section2);
}

.portfolio-card {
  position: relative;
  overflow: hidden;
  box-shadow: 4px 4px 11px -8px rgba(0,0,0,0.9);
  border: none;
  transition: transform 0.3s ease-in-out;
}

.portfolio-card:hover {
  transform: scale(1.05);
  cursor: pointer
}

.portfolio-card img {
  transition: transform 0.3s ease-in-out;
}

/* .portfolio-card:hover img, 
.portfolio-card:hover .card-body {
  filter: brightness(30%);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.see-more-btn {
  margin-bottom: 5vmin;
  font-size: 1.2rem;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  border-radius: 8px;
}

.see-more-btn:hover {
  background-color: transparent;
}

.portfolio-card:hover .overlay {
  opacity: 1;
} */

.card-body {
  background-color: var(--light);
}

.card-body > h6 {
  font-size: 1.2rem;
  margin-bottom: 2vmin;
}

/* resume section */
.job-card {
  background-color: var(--light);
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.job-title {
  color: var(--btn);
  font-weight: bold;
}

.company-name {
  color: #495057;
}

.job-duration {
  color: #6c757d;
}

.job-description {
  margin-top: 10px;
}

/* about section */

.about-img {
  margin: 0 auto;
  width: 100%;
  height: 50vmin;
  object-fit: cover; 
  border-radius: 2rem;
  overflow: hidden; 
  max-width: 80%; 
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}  

.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.sub-heading {
  color: var(--btn);
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
}

/* contact section */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.contact-links {
  margin-top: 20px;
}

.contact-links > a {
  color: var(--btn);
  font-size: 2.3vmin;
  transition: transform 200ms ease-in-out;
}

.contact-links > a:hover {
  font-size: 1.2rem;
  transform: scale(1.1);
}

/* contact form */
form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 60%;
}

label {
  margin-bottom: 8px;
}

input, textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #008080;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #006666;
}

/* md screens and up */
@media (min-width: 768px) {


  .social-icon {
    height: 8vmin;
  }

  .bio-img {
    width: 35vmin;
  }
}

/* sm screens */
@media (max-width: 768px) {

  .social-icons {
    border: none;
    position: absolute;
    right: 0;
    top: -7px;
  }

  .social-icon {
    height: 8vmin;
  }

  .bio-img {
    position: absolute;
    visibility: hidden;
  }
}

/* xs screens */
@media (max-width: 576px) {

}

  